@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* PT Sans Narrow */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSansNarrow-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSansNarrow-700.woff") format("woff");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #E5E5E5;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.page-container {
  width: 1200px;
  margin: 0 auto; 
}

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 1200px;
  height: 65px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 315px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 27px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.current-link-index::after {
  content: "";
  display: block;
  position: absolute;
  top: 64px;
  left: 72px;
  width: 70px;
  height: 3px;
  background-color: #756257;
  background-image: url("../img/indicator-line.png");
  background-repeat: no-repeat;
  z-index: 1;
}
  
.link-hotels {
  position: relative;
  margin-right: 8px;
}

.navigation-item-logo {
  z-index: 1;
}

.navigation-link-logo {
  display: flex;
  align-items: center;
}

.navigation-user {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.link-search {
  width: 25px;
  height: 25px;
  margin-left: 62px;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.link-like {
  display: inline-block;
  width: 35px;
  height: 30px;
  background-image: url("../img/heart.png");
  background-repeat: no-repeat;
  background-position: 40% 30%;
}

.link-entrance {
  display: block;
  width: 160px;
  height: 37px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: rgba(117, 98, 87, 1);
  line-height: 35px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

/*main-index*/

.main-container {
  flex-grow: 1;
}

.index-background-wrapper{
  width: 1200px;
  height: 767px;
  background-color: #ffffff;
}

.index-background {
  display: block;
  width: 1200px;
  height: 485px;
  position: relative;
}

.welcome-image {
  position: absolute;
  top: 50px;
  left: 372px;
  width: 458px;
  height: 352px;
  background-image: url(../img/welcome.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 458px;
  text-align: center;
}

.vector-image {
  display: block;
  position: absolute;
  top: 428px;
  width: 1200px;
  min-height: 57px;
  margin: 0 auto;
  background-image: url(../img/vector.png);
  background-repeat: no-repeat;
}

.main-text {
  width: 1200px;
  height: 182px;
  text-align: center;
  background-color: #ffffff;
}

.main-comment {
  width: 720px;
  height: 70px;
  margin: 0 auto;
  margin-top: 60px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  text-transform: uppercase;
}

.main-text p {
  width: 720px;
  height: 37px;
  margin: 0 auto;
  margin-top: 40px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
}

.advantage-first {
  display: flex;
  justify-content: center;
}

.advantage-first-item,
.advantage-third-item {
  width: 400px;
  height: 384px;
  text-align: center;
  background-color: #83B3D3;
}

.advantage-title {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 95px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.advantage-number {
  margin-top: 25px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
}

.advantage-description {
  width: 220px;
  margin: 0 auto;
  margin-top: 30px;
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
}

.advantage-list {
  display: flex;
  justify-content: space-between; 
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantage-item {
  width: 400px;
  height: 384px;
  text-align: center;
}

.advantage-second-house,
.advantage-second-souvenir {
  background-color: rgba(131, 179, 211, 0.12);
}

.icon-house,
.icon-food {
  margin-top: 90px;
}

.icon-souvenir {
  margin-top: 85px;
}

.advantage-food-background {
  background-color: #ffffff;
}

.advantage-item h3 {
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 18px;
}

.advantage-item p {
  width: 180px;
  height: 73px;
  margin: 0 auto;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.advantage-second-house p {
  line-height: 20px;
}
.advantage-food-background p {
  width: 227px;
}

.advantage-second-souvenir p {
  width: 210px;
}

.advantage-third {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.advantage-title-bridge {
  width: 172px;
}

.advantage-forth-area,
.advantage-forth-tourists {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-forth-area h3,
.advantage-forth-road h3,
.advantage-forth-tourists h3 {
  width: 170px;
  height: 50px;
  line-height: 28px;
  margin: 96px 0 35px 0;
}

.advantage-item .advantage-item-number {
  width: 100px;
  height: 30px;
  margin-bottom: 21px;
}

.advantage-forth-area p + p,
.advantage-forth-tourists p + p {
  width: 240px;
  height: 40px;
  font-size: 18px;
}

.advantage-forth-road {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-forth-road .advantage-item-road {
  width: 250px;
  height: 73px;
}

.modal-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 417px;
  text-align: center;
  background-color: #ffffff;
}

.modal-search h2 {
  width: 720px;
  height: 30px;
  margin: 94px 0 9px 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-search p {
  width: 600px;
  height: 60px;
  margin-bottom: 50px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.button-modal {
  width: 575px;
  height: 60px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  background-color: #756257;
  border: none;
  border-radius: 10px;
}

.subscription {
  width: 1200px;
  height: 411px;
  position: relative;
}

.subscription-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  position: absolute;
  left: 200px;
  text-align: center;
  margin-top: 98px;
}

.subscription-item h3 {
  width: 700px;
  height: 30px;
  margin: 0 auto 30px auto;
  color: #ffffff;
  font-size: 30px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-item p {
  width: 520px;
  height: 50px;
  color: #ffffff;
  margin: 0 auto 48px auto;
  font-size: 22px;
}

.page-subscription {
  display: flex;
}

.page-subscription-input {
  width: 600px;
  height: 58px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.page-subscription-input::placeholder {
  padding-left: 20px;
  font-size: 17px;
}

.button-subscription {
  width: 199px;
  height: 60px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #83B3D3;
  border: none;
  border-radius: 0 10px 10px 0;
}

/*footer*/

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 120px;
  background-color: #ffffff;
}

.page-footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 108px;
  height: 28px;
  margin: 0;
  padding: 0;
  margin-left: 72px;
  list-style-type: none;
}

.social-button-tw {
  display: block;
  width: 20px;
  height: 20px;
  color: #83B3D3;
  background-image: url("../img/social-twitter.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button-fb {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  color: #83B3D3;
  background-image: url("../img/social-facebook.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button-yt {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  color: #83B3D3;
  background-image: url("../img/social-youtube.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.page-footer-telephone {
  width: 350px;
  height: 50px;
  margin-left: 8px;
  font-size: 40px;
}

.footer-copyright {
  width: 115px;
  height: 34px;
  margin-right: 70px;
}

/*page-calalog*/

.current-link-catalog::after {
  content: "";
  display: block;
  position: absolute;
  top: 45px;
  width: 95px;
  height: 3px;
  background-color: #756257;
  background-image: url("../img/indicator-line.png");
  background-repeat: no-repeat;
  z-index: 1;
}

.main-catalog {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.catalog-sedona-image {
  position: relative;
}

.filters-form-wrapper {
  width: 1200px;
  position: absolute;
  top: 60px;
  color: #ffffff;
}

.filters-form-wrapper h1 {
  margin: 65px 0 0 72px;
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 60px;
  font-weight: 700;
}

.filters-form-wrapper h1::after {
  content: "";
  display: block;
  position: absolute;
  top: 55px;
  left: 23px;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  border: 1px solid #ffffff;
  border-left: none;
  border-bottom: none;
}

.filters-form-wrapper p {
  width: 73px;
  height: 21px;
  margin: 21px 0 29px 113px;
}

.filters-form-wrapper p::before {
  content: "";
  display: block;
  position: absolute;
  top: 116px;
  left: 74px;
  width: 12px;
  height: 12px;
  color: #ffffff;
  background-image: url("../img/catalog/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 1;
}

.filters-form {
  display: flex;
  height: 200px;
}

.filters-form-first {
  display: flex;
  justify-content: space-between;
}

.filters-infrastructure {
  width: 282px;
}

.filters-infrastructure h3 {
  margin-left: 15px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
}

.filters-list {
  width: 100px;
  margin: 30px auto 0 auto;
  list-style-type: none;
}

.filters-item {
  margin-bottom: 12px;
  font-size: 18px;
  position: relative;
}

.filters-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filters-item label {
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-weight: normal;
}

.filters-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -37px;
  width: 15px;
  height: 15px;
  background-image: url("../img/catalog/checkbox-off.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 2px solid white;
  border-radius: 15%;
  z-index: 0;
}

.filters-input-checkbox:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: -33px;
  width: 7px;
  height: 10px;
  border: 3px solid #3F5E72;
  border-top: none;
  border-left: none;
  border-radius: 2px;
  transform: rotate(41deg);
  background-image: url("../img/catalog/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: 0px;
  z-index: 1;
}

.filters-housing {
  width: 156px;
}

.filters-housing h3 {
  margin-left: 8px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
}

.filters-input-radio + label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -40px;
  width: 20px;
  height: 20px;
  background-image: url("../img/catalog/radio-off.svg");
  background-repeat: no-repeat;
  z-index: 0;
}

.filters-input-radio:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 7px;
  left: -35px;
  background-image: url("../img/catalog/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 1;
}

.filter-form-second {
  display: flex;
  margin-top: 20px;
  margin-left: 148px;
}

.filters-by-price {
  width: 300px;
  border: none;
}

.filters-by-price legend {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 14px;
}

.filters-range {
  margin-top: 15px;
}

.price-controls {
  display: flex;
  width: 283px;
  height: 44px;
  margin: 0;
  margin-left: 1px;
  margin-bottom: 28px;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.min-price span {
  margin-left: 5px;
  font-size: 18px;
}

.min-price-input {
  width: 87px;
  height: 42px;
  margin: 0;
  padding-top: 3px;
  padding-left: 17px;
  font-size: 18px;
  background-color: transparent;
  border: none;
}

.max-price-input {
  width: 80px;
  height: 42px;
  margin-left: 14px;
  padding-top: 3px;
  padding-left: 15px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  border: none;
  background-color: transparent;
  border-left: 2px solid #ffffff;
}

.max-price span {
  margin-left: 8px;
  font-size: 18px;
  color: #ffffff;
}

.range-controls {
  position: relative;
}

.scale {
  width: 287px;
  height: 4px;
  margin-left: 1px;
  background-color: gray;
}

.bar {
  width: 227px;
  height: 4px;
  background-color: #ffffff;
}

.toggle-min {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -8px;
  left: 1px;
  background-image: url("../img/catalog/Rectangle-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 1;
}

.toggle-max {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -8px;
  left: 217px;
  background-image: url("../img/catalog/Rectangle-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 1;
}

.filters-button {
  width: 160px;
  height: 100px;
  margin: 59px 0 0 55px;
}

.filters-btn {
  width: 160px;
  height: 48px;
  border: none;
}

.filters-button-apply {
  margin-bottom: 5px;
  font-size: 16px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  background-color: #83B3D3;
  border-radius: 5px;
}

.filters-button-reset {
  font-size: 18px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  background-color: transparent;
}

.sorting-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1056px;
  height: 100px;
  margin: 0 auto 28px auto;
}

.sorting-block h2 {
  width: 400px;
  height: 30px;
  margin-top: 55px;
  font-size: 30px;
  text-transform: uppercase;
}

.sorting-type {
  position: relative;
}

.sorting-type::after {
  content: "";
  display: block;
  position: absolute;
  top: 38px;
  left: 298px;
  width: 20px;
  height: 20px;
  background-image: url("../img/catalog/vector-dropdown.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.select-control {
  width: 287px;
  height: 48px;
  margin: 24px 0 0 48px;
  padding: 0 13px 0 16px;
  font-size: 18px;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
}

.sorting-list {
  display: grid;
  grid-template-columns: 48px 49px 49px;
  justify-items: end;
  column-gap: 7px;
  width: 159px;
  height: 50px;
  margin: 25px 0 0 0px;
  padding: 0;
  list-style-type: none;
  z-index: 0;
}

.sorting-item {
  z-index: 0;
  opacity: 0.5;
}

.sorting-link {
  display: block;
  position: relative;
}

.sorting-item button {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: transparent;
}

.mode-list button {
  width: 48px;
  border: 2px solid #000000;
  opacity: 1;
}

.mode-tile button::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 16px;
  width: 16px;
  height: 14px;
  background-image: url("../img/catalog/mode-tile.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.mode-slideshow button::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 16px;
  width: 16px;
  height: 14px;
  background-image: url("../img/catalog/mode-slideshow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.mode-list button::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 16px;
  width: 16px;
  height: 14px;
  background-image: url("../img/catalog/mode-list.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.gallery {
  width: 1056px;
  margin: 0 auto 30px auto;
  border: 1px solid #E5E5E5;
  border-left: none;
  border-right: none;
}

.gallery-list {
  display: flex;
  margin-top: 30px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E5E5E5;
}

.gallery-item {
  display: grid;
  grid-template-columns: 150px 165px;
  grid-template-rows: 28px 55px 40px;
  margin: 0;
  padding: 0;
  margin-left: 37px;
}

.gallery-title {
  margin: 0 0 0 1px;
  padding: 0;
  grid-column: 1 / -1;
  font-size: 24px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.gallery-hotel {
  margin-left: 1px;
  grid-column: 1 / 2;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.gallery-hotel-price {
  grid-column: 2 / 3;
  margin-left: 8px;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.gallery-hotel-info {
  display: flex;
  grid-column: 1 / 3;
}

.gallery-details {
  margin-left: px;
}

.gallery-details a {
  display: block;
  width: 151px;
  height: 37px;
  font-size: 16px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
  border-radius: 4px;
}

.gallery-btn {
  width: 160px;
  height: 37px;
  margin-left: 8px;
  font-size: 16px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: #83B3D3;
  border: none;
  border-radius: 4px;
}

.gallery-hotel-rating {
  display: grid;
  grid-template-columns: 160px;
  grid-template-rows: 80px 43px;
  align-self: flex-end;
  margin-left: auto;
  position: relative;
}

.gallery-stars {
  display: flex;
}

.rating-star-first {
  width: 18px;
  height: 17px;
  position: absolute;
  top: -16px;
  left: 35px;
  background-image: url("../img/catalog/icon-star.svg");
}

.rating-star-second {
  width: 18px;
  height: 17px;
  position: absolute;
  top: -16px;
  left: 60px;
  background-image: url("../img/catalog/icon-star.svg");
}

.rating-star-third {
  width: 18px;
  height: 17px;
  position: absolute;
  top: -16px;
  left: 85px;
  background-image: url("../img/catalog/icon-star.svg");
}

.rating-star-forth {
  width: 18px;
  height: 17px;
  position: absolute;
  top: -16px;
  left: 108px;
  background-image: url("../img/catalog/icon-star.svg");
}

.gallery-stars-second {
  position: absolute;
  left: 10px;
  width: 80px;
  height: 30px;
}

.gallery-stars-third,
.gallery-stars-forth {
  position: absolute;
  left: 25px;
  width: 80px;
  height: 30px;
}

.gallery-hotel-rating button {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 160px;
  height: 37px;
  margin: 0 0 0 1px;
  padding: 0;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
}

.gallery-download {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.download-btn {
  width: 625px;
  height: 55px;
  margin-left: 4px;
  font-size: 20px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  background-color: #83B3D3;
  border: none;
  border-radius: 4px;
}

.slider-pagination {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
}

.pagination-list {
  display: grid;
  grid-template-columns: 55px 55px 55px 55px 55px 55px;
  column-gap: 8px;
  width: 370px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  background-color: #83B3D3;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;;
}

.pagination-link-dotted {
  width: 55px;
  height: 55px;
}

.pagination-link-last {
  width: 55px;
  height: 55px;
  margin-left: 0px;
}

.sorting-hotel-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 386px;
  height: 48px;
  margin-top: 4px;
}

.sorting-hotel-item {
  font-size: 18px;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  position: relative;
}

.select-hotel {
  width: 158px;
  height: 48px;
  padding: 0;
  padding-left: 12px;
  font-size: 18px;
  border: 2px solid rgba(229, 229, 229, 0.5);
  border-radius: 4px;
  appearance: none;
}

.sorting-hotel-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 350px;
  width: 20px;
  height: 20px;
  background-image: url("../img/catalog/vector-dropdown.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 30%;
} 

.subscription-block {
  display: block;
  width: 1056px;
  height: 411px;
  margin: 0 auto;
}

.subscription-item-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.subscription-item-catalog h3 {
  width: 720px;
  height: 50px;
  margin: 53px 0 0 2px;
  padding: 0;
  font-size: 30px;
  text-transform: uppercase;
}

.subscription-item-catalog p {
  width: 520px;
  height: 72px;
  margin: 10px 0 27px 3px;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

.subscription-form {
  display: flex;
}

.subscription-input {
  width: 600px;
  height: 60px;
  margin-left: 1px;
  background-color: #F2F2F2;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.subscription-button {
  width: 200px;
  height: 60px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #83B3D3;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}